body{
    margin: 0;
}

 /* navbar style */
.title{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 40%;
    margin-left: 30px;
    
}

.nav{
    display: flex;
    overflow: hidden;
    margin-top: 45px;
}
.nav-right a{
    float: right;
    color: black;
    text-decoration: none;
    font-size: 17px;
    margin-right: 45px;
    margin-top: 5px;

}
 /* nav button moving to  top right */
.nav-right{
    margin-left: 20px;
    width: 60%;

}



/* making first section */

.f-sec-note{
    font-size: 50px;
    margin-top: 100px;
}
#notes{
    word-wrap: break-word;
}

/* design arrow sign */
span {
    content: "\2192";
    color: beige;
    font-weight: 800;
}

#fisrt-button{
    text-decoration: none;
    color: beige;
    background-image: linear-gradient(#FF4331 ,#D31A50);
    padding: 8px 20px 8px 20px;
    font-size: 20px;
    width: 80px;
    font-weight: 700;
    border-radius: 25px;
}

.main-camera img{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    position: middle;
    width: 520px;
}

.flex-container{
    display: flex;
    margin: 100px;
}



/* Payment cart add */
.payment{
    padding: 20px;
    margin-right: 10%;
    margin-left: 8%;
    display: flex;
}
.payment img{
    margin-left: 60px;
}


/* third section */
.max-photo{
    margin-left: auto;

    margin-right: auto ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 72%;
}
#title2{
    margin-top: 110px;
    text-align: center;
    font-size: 30px;
}
.max-photo img{
    width: 285px;
    height: 230px;
    margin-left: 8px;
    margin-top: 8px;
    border-radius: 8px;

}
.margn{
    margin-left: 8px;
}
#light-color{
    opacity: 0.75;
}
.img-resize{
    width: 300px;
    height: 450px;
    margin: 10px;
    border-radius: 8px;
    background-color: #e6e6ff;

}
.checked {
    color: orange;
    font-size: 10px;
}
.nchecked{
    color: black;
    font-size: 10px;
}
.rate{
    color: black;
    margin-left: 8px;
}
#for-buyers{
    margin-left: 8px;
}

/* see more button */
#more-button{
    text-decoration: none;
    color: tomato;
    font-weight:800;
    margin-top: 20px;
    font-size: 20px;

}

/* second arrow symbol */
#arrow{
    content: "\2192";
    color: tomato;
}


@media only screen and ( max-width:668px) {
    .nav-right{
        display: none;
    }

    .title{
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .flex-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .main-camera img{
        background-image: none;
        width: 300px;
        margin-top: 60px;
        margin-left: 7px;
    }
    .payment{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 15px;
    }
    .f-sec-note{
        font-size: 50px;
        margin-top: 60px;
        margin-left: 10px;
    }
    .max-photo{
        margin-left: auto;
        margin-right: auto;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            width: 70%;
    }
}
@media only screen and(min-width: 374px){

    .nav-right{
        display: none;
    }
    .title{
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .start-div{
        align-items: center;
    
    }
    .flex-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .main-camera img{
        background-image: none;
        width: 300px;
        margin-top: 60px;
        margin-left: 7px;
    }
    .payment{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 15px;
    }
    .f-sec-note{
        font-size: 50px;
        margin-top: 60px;
        margin-left: 10px;
    }
    .max-photo{
        margin-left: 20px;
        margin-right: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 200px;
    }
    .margn{
        width: 160px;
        height: auto;
    }
}


